{% extends 'base.html' %}

{% block content %}

<!-- Main landing page goes here -->
<div class="container">
    <!--Header Section-->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Help us to build the world's best off-brand Marvel wiki!</h2>
            <h5>Create an servicable API tool that will only be used by a very niche group.</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Discord Server</button>
            </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/marvel-characters.webp" alt="Hero Header Image">
        </div>
    </header>
    <!--End of Header Section-->

    <!--Start Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Favorite Chatacters!</h2>
            <p>Utilize the capabilities of an API to show off your collection!</p>
        </div>
    </section>
    <!--End of Middle Section-->

    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/Spiderman.png" alt="Spiderman" id="spiderman-image">
            <h4>Share Your Favorites</h4>
            <p>
                Proudly show off your favorites to all the world!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/Taskmaster.webp" alt="Taskmaster" id="taskmaster-image">
            <h4>Discover New Heroes and Villains</h4>
            <p>
                Find new characters you've never heard of before!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/Doom.png" alt="Dr Doom" id="dr-doom-image">
            <h4>Find New Age and Classics Alike</h4>
            <p>
                Be they from the golden age, or a week ago, all characters are welcome!
            </p>
        </div>
    </section>
    <!--End of Collection Features-->

    
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/x-men.png" alt="X-men Image" id="X-men-image">
        </div>

        <div class="col-12 col-md-6">
            <h4>Talk with other like minded Marvel fans!</h4>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Discord Channel!</button>
            </div>
        </div>
    </section>
    <!--End of Community Section-->

    <!--Start of Footer-->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/Avengers-Logo.png" alt="Avengers Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>The Bootleg Marvel Wiki</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>The Bootleg Marvel Wiki</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>The Bootleg Marvel Wiki</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>The Bootleg Marvel Wiki</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>The Bootleg Marvel Wiki</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>

</div>


{% endblock content %}